	
	
	::-webkit-scrollbar { 
    display: none; 
	}
	
	
	*{
	box-sizing:border-box;
	}	
	html{
	height:100%;
	margin:0px;	
	}
	body{
	margin:0px;
	box-sizing:border-box;
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	}	
	#particles-js{
	background:#171926;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;	
	}
	
	
	.h{height:100%;}
	.somepx{height:10px;}
	.automargin{margin-left:auto;margin-right:auto;}
	.float{float:left;}
	.clearfix::after {content: "";clear: both;display: table;}
	.stub{width:110px;}
	
	
	#wrapcontentback{
		
	}
	#stub{}
	#wrappagecontent{
		height:auto;
		background-image:url("img/fo.png");
		background-position: center top;
		background-repeat: no-repeat;
	}
	#forback0{
		
		height:100%;
		min-height:max-content;
		background-image: url("img/fon.png");
		background-position: center bottom;
		background-repeat: no-repeat;
		
	}
	#forback1{
		
		
	
	height:100%;
	 background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	  background-attachment: fixed;
	background-image:url("img/back.jpg");
	padding-top:20px;
		padding-bottom:20px;
	}
	#forback2{
		padding-top:20px;
		padding-bottom:20px;
		background-image:url("img/fo.png"), url("img/fon.png");
		background-position: center top,center bottom;
		background-repeat: no-repeat;
	}
	#forback3{
	padding:20px 0 20px 0;
	background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
	height:auto;
	background-image:url("img/bvack.jpg");
	background-size: cover;
	}
	
	#wrapblock0{
	height:auto;	
	}
	#wrapblock1{
		
	}
	#wrapblock2{
	margin-top:100px;
	margin-bottom:100px;
	}
	#wrapblock3{
	

	}
	
	#wrappage0{
	margin-top:100px;
	background:rgba(0,0,0,0.3);
	border:2px solid orange;
	text-align:left;
	
	
	color:white;}
	#wrappage1{}
	#wrappage2{}
	#wrappage3{}
	
	
	#wrapslogan{
	float:left;
	padding-top:150px;
	}
	#wraporderdiv{
	
	float:left;
	padding:10px;
	font-size:14px;
	color:black;
	height:100%;
	background:white;
	
	
	}
	#wrapcont{
		
	text-align:center;
	padding:15px;
	color:white;
	margin-bottom:30px;
	margin-top:30px;
	height:200px;
	background: rgba(0,0,0,0.4);
	}
	
	
	#wrappage1 button{
border-radius:4px;
border:1px solid white;
padding:10px;
background:#6600C0;
color:white;
font-size:16px;
}
	#wrappage3 button{
border-radius:4px;
border:1px solid white;
padding:10px;
background:#00a0ff;
color:white;
font-size:16px;
}


	#wrapfotter{
	height:100px;
	background:#272936;	
	}